<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header>
    <h1>P-Score Calculator</h1>
  </header>
  <div id="score">
    <%= score.toFixed(1) %>%
  </div>
</body>
